# ===== 编译产物 =====
app/build/
build/
**/build/
**/intermediates/
**/outputs/
**/tmp/
*.apk
*.aab
*.ap_
*.dex
*.class

# Gradle
.gradle/
local.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.externalNativeBuild/
.cxx/
captures/

# OS
.DS_Store
Thumbs.db

# 密钥
*.jks
*.keystore
google-services.json
*.pem
*.p12

# 历史垃圾
kf_temp/
*.zip
issue.json
